* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #010101;
}

.formulario {
    width: 600px;
    background: #FFFFFF;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: black;
    box-shadow: 0 0 20px 0;
}


.formulario img {
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    border: none;
    background-color: #FFFFFF;
}

.formulario p {
    font-size: 20px;
    height: 100%;
    text-align: center;
    background: #FFFFFF;
    color: #000000;
    padding: 30px;
    border: none;
    background-color: #FFFFFF;
}

.campos {
    width: 100%;
    background: none;
    padding: 10 px;
    border-radius: 4px;
    margin-bottom: 32px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
}

.boton {
    width: 100%;
    background-color: #00008B;
    color: #FFFFFF;
    border: none;
    padding: 1em;
    font-size: 18px;
}