* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #696969;
}

.formulario {
    width: 80%;
    max-width: 1000px;
    background: #FFFFFF;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    color: black;
    box-shadow: 0 0 20px 0;
    box-sizing:border-box;
}


.formulario img {
    height: auto;
    width: 100%;
    color: #FFFFFF;
}

.formulario p {
    font-size: 20px;
    height: auto;
    text-align: center;
    background: #FFFFFF;
    color: #000000;
    padding: 30px;
    border: none;

}

.campos {
    width: 45%;
    background: none;
    margin:auto;
    padding: 10 px;
    border-radius: 4px;
    margin-bottom: 32px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    box-sizing:border-box;
}

.boton {
    width: 100%;
    background-color: #00008B;
    color: #FFFFFF;
    border: none;
    padding: 1em;
    font-size: 18px;
}

@media screen and (max-width: 800px){
    .campos {
        display: block;
    }
}